.env
__pycache__/
*.pyc
.venv/
venv/
data/vector_store/*
!data/vector_store/.gitkeep
data/raw_docs/*
!data/raw_docs/.gitkeep
data/uploaded_docs/*
!data/uploaded_docs/.gitkeep
.DS_Store
.coverage
.ruff_cache/
.pytest_cache/
